.App {
  width: 100%;
  text-align: center;
}

#loading {
  padding: 130px;
  text-align: center;
  font-family: 'Homemade Apple', cursive;
  font-size: 30px;
}

#maploader {
  padding-top: 130px;
  padding-right: 130px;
  padding-left: 130px;
  text-align: center;
  font-family: 'News Cycle', sans-serif;
  color: #ccc;
  font-size: 30px;
}

#loader {
  margin-top: 75px;
  display: inline-block;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #ddd6d8;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

.error {
  font-size: 30px;
  color: #ccc;
  padding: 200px;
  text-align: center;
  font-family: 'News Cycle', sans-serif;
}

.screenreader {
  position: absolute;
  left: -10000px;
}

.App-logo {
  transition: all 500ms ease;
  height: 150px;
}

#App-title {
  padding: 0;
  margin: 0;
  font-family: 'Homemade Apple', cursive;
  font-size: 28px;
}

.App-logo:hover {
  animation: bounce 1s;
}

.intro {
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: 'News Cycle', sans-serif;
  box-shadow:  0 -5px 15px -5px #adafa3;
}

.content {
  background-color: #d6d8cd;
  font-size: small;
}

#locations {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#map {
  height: 100vh;
  width: 100%;
  background-color: #adafa3;
}

.restaurant-title {
  font-weight: bold;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 5px 5px 5px #ddd6d8;
}

.listItem {
  line-height: 45px;
  background-color: #ddd6d8;
  padding: 10px;
  box-shadow: inset 0 10px 60px 0 #b2b0b0;
  border: 0.1px solid #b2b2b2;
  color: #686868;
  font-weight: bold;
  height: 48px;
}

.listItem:hover {
  background-color: #cecaca;
  cursor: pointer;
}

li {
  font-family: 'News Cycle', sans-serif;
}

.inputfield {
  font-family: 'Homemade Apple', sans-serif;
  text-align: center;
  width: 90%;
}

#credits {
  margin: 0;
  padding: 5px;
  background-color: #7d7f74;
}

.credit {
  font-size: 10px;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@media screen and (min-width: 400px) {
    .inputfield {
      max-width: 75%;
    }
}

@media screen and (min-width: 600px) {
    .content {
      font-size: medium;
    }
    .intro {
      margin-bottom: 25px;
    }
    .inputfield {
      max-width: 50%;
    }
    #map {
      margin-top: 10px;
      width: 75%;
      height: 681.5px;
    }
    #ulList {
      width: 25%;
    }
}

@media screen and (min-width: 850px) {
    .content {
      font-size: large;
    }
    .inputfield {
      position: absolute;
      right: 20px;
      top: 380px;
      max-width: 30%;
    }
}

@media screen and (min-width: 1080px) {
    .content {
      font-size: large;
    }
    .intro {
      margin-bottom: 60px;
    }
    .inputfield {
      position: absolute;
      right: 15px;
      top: 380px;
      max-width: 30%;
    }
}